.cards {
  margin-bottom: 48px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  grid-gap: 20px 17px;
  padding: 0;
  margin-top: 47px;
}

@media screen and (max-width: 900px) {
  .cards__list {
    justify-content: center;
    padding-top: 36px;
  }
}
