footer {
  margin: 0px 200px 0px 200px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px 0px 60px 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    margin: 0px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 1.2;
    margin: 36px 19px 36px 19px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .footer {
    margin: 0 auto 0 auto;
    max-width: 880px;
    min-width: 700px;
  }

  .footer__copyright {
    margin-left: 15px;
  }
}
