.card {
  font-family: "Inter", Arial, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 25px 20px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button-inactive.svg) center
    no-repeat;
  height: 18px;
  width: 21px;
  cursor: pointer;
  border-style: none;
  border: none;
  background-size: 21px 18px;
  margin: auto 0 auto 0;
  padding: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background: url(../images/Union.svg);
}

.card__delete-button {
  background: url(../images/Trash.svg) center no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  border-style: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
