.card {
  font-family: "Inter", Arial, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__image:hover {
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  height: 19px;
  width: 18px;
  background-color: transparent;
}

.card__description {
  display: flex;
  background-color: white;
  justify-content: space-between;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  padding: 25px 20px 25px;
}

.card__like-button {
  background: transparent url(../images/like-button-inactive.svg) center;
  width: 21px;
  height: 19px;
  border-style: none;
  background-size: 21px 18px;
  border: none;
  margin: auto 0 auto 0;
  padding: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background: url(../images/Union.svg);
}
