.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 14px;
  transition: 0.2s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  transition: 0.2s;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: title;
  margin: 0;
  max-width: 300px;
  padding-top: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__picture {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 26px;
    justify-content: center;
  }

  .profile__name {
    width: 100%;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 27px;
    padding: 0;
  }

  .profile__picture {
    max-width: 196px;
    font-size: 22px;
    padding-left: 43px;
    padding-right: 10px;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }

  .profile__add-button {
    width: 282px;
    margin: 0;
  }
}

@media screen and (min-width: 800px) and (max-width: 880px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 26px;
    justify-content: center;
  }

  .profile__name {
    width: 100%;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 27px;
    padding: 0;
  }

  .profile__picture {
    width: 120px;
    height: 120px;
    margin: 0;
  }

  .profile__add-button {
    margin-left: 19px;
    margin-right: 19px;
    width: 282px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-right: 10px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
